{% extends "template.html" %}

{% block head %}
<script type="text/javascript">

    $(document).ready(function(){

       
        var numAnim = new countUp("requestcount", 0, {{req_count}}, 0, 2);
        numAnim.start(function(){
            setTimeout(function(){
                $('#requestcount').text(n2shjs({{req_count}}, 1));                
            }, 750);
        });

    });

</script>
{% endblock %}

{% block body %}


<table style="margin:auto; background-color:#f6f6ef; width:85%" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td bgcolor="#ff6600">
                <table style="margin-top:-3px; margin-bottom:-3px; padding:2px" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td style="width:18px; padding-right:4px; padding-top:3px"><a href="/"><img src="/static/images/logo18.png" style="border:1px #ffffff solid;" /></a></td>

                            <td style="line-height:; height:10px;"><span class="pagetop"><b><a href="/">Hacker News Daily</a></b></td>

                            <td style="height:10px; text-align:right;padding-right:4px;"><span class="pagetop"><a href="http://news.ycombinator.com/user?id=tonyteate">by tonyteate&nbsp;(<span id="requestcount">{{req_count}}</span>)&nbsp;</a>|&nbsp;<a id="aboutanchor" style="padding-right:0px; margin-right:px" href="#">about</a></span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="height:10px"></tr>
        <tr>
            <td>
                <table style="margin:0; padding:0;" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
						{% for post in posts %}                    	
                        <tr>
                            <td align="right" valign="top" class="title">{{loop.index}}.</td>
                            <td>
                                <img src="/static/images/myarrow.gif" border="0" style="padding-right:2px; padding-left:2px">
                            </td>
                            <td class="title"><a href="{{post.url}}">{{post.title}}</a><span class="comhead"> {%if post.domain %}{{(post.domain)}}{% endif %} </span></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext"><span>{{post.points}} points</span> by <a href="http://news.ycombinator.com/user?id={{post.by}}">{{post.by}}</a> {{post.ago}}  | <a href="http://news.ycombinator.com/item?id={{post.eid}}">{{post.comments}} comments</a></td>
                        </tr>
                        <tr style="height:5px"></tr>
						{% endfor %}                        
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="height:30px"></tr>        
    </tbody>
</table>

<div style="height:50px"></div>


{% endblock %}


