<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <title>Hacker News Daily</title>
        <!--<link type="text/css" href="/static/bootstrap.css" rel="stylesheet">!-->
        <!--<link type="text/css" href="http://ycombinator.com/news.css" rel="stylesheet">!-->
        <link type="text/css" href="/static/front.css" rel="stylesheet">      
        <link type="text/css" href="/static/bootstrap.css" rel="stylesheet">
	    <script type="text/javascript" src="/static/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/frontFunctions.js"></script>
        <script type="text/javascript" src="/static/countUp.min.js"></script>        
        {% block head %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
