{% extends "template.html" %}
{% block body %}
<center><h3>Signup</h3>
<br/>
<form method="post">
    <table>
        <tr>
        <td align="right" style="padding-top:0em">
            Full Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <input style="margin-bottom:0px; margin-top:0px" type="text" placeholder="ex. Tony Teate" name="realname" value="{{realname}}">
        </td>
        </tr>
        <tr>
            <td></td>
            <td><font color="#b94a48">{{realname_error}}</font></td>
        </tr>
        <tr>
        <td align="right" style="padding-top:1em">
            Username &nbsp; @
        </td>
        <td>
            <input style="margin-bottom:0px; margin-top:10px" type="text" name="username" placeholder="ex. tonyt" value="{{username}}">
        </td>
        </tr>
        <tr>
            <td></td>
            <td><font color="#b94a48">{{username_error}}</font></td>
        </tr>        
        <tr>
        <td align="right" style="padding-top:1em">
            Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <input style="margin-bottom:0px; margin-top:10px" type="password" placeholder="*******" name="password">&nbsp;<font color="#b94a48">
        </td>
        </tr>        
        <tr>
            <td></td>
            <td><font color="#b94a48">{{password_error}}</font></td>
        </tr>        
        <tr>
            <td></td>
            <td>
            <input style="margin-bottom:0px; margin-top:10px" class="btn btn-primary" type="submit" name="submit" value="Create Account">
        </td>
        </tr>
    </table>
</form></center>
{% endblock %}
